In [1]:
import pandas as pd

In [4]:
inj_years = pd.read_csv('ingury_in_years.csv')

In [5]:
inj_years['Year'] = inj_years['Year'].apply(lambda x: x[:4])

In [6]:
inj_years

    External cause of injury  Year      Sex  0â€“4  Total
0                  Transport  2008    Males   17   1257
1                  Transport  2009    Males   16   1202
2                  Transport  2010    Males   21   1197
3                  Transport  2011    Males   17   1154
4                  Transport  2012    Males    6   1109
5                  Transport  2013    Males   16   1055
6                  Transport  2014    Males   13   1033
7                  Transport  2015    Males   13   1134
8                  Transport  2016    Males   15   1059
9                  Transport  2017    Males   11   1055
10                 Transport  2008  Females   10    446
11                 Transport  2009  Females    9    404
12                 Transport  2010  Females   15    403
13                 Transport  2011  Females   21    416
14                 Transport  2012  Females    9    407
15                 Transport  2013  Females   10    361
16                 Transport  2014  Females   17    397
17                 Transport  2015  Females    7    388
18                 Transport  2016  Females   10    361
19                 Transport  2017  Females    7    373
20                 Transport  2008  Persons   27   1703
21                 Transport  2009  Persons   25   1606
22                 Transport  2010  Persons   36   1600
23                 Transport  2011  Persons   38   1570
24                 Transport  2012  Persons   15   1516
25                 Transport  2013  Persons   26   1416
26                 Transport  2014  Persons   30   1430
27                 Transport  2015  Persons   20   1522
28                 Transport  2016  Persons   25   1420
29                 Transport  2017  Persons   18   1428
..                       ...   ...      ...  ...    ...
300      All external causes  2008    Males   73   6959
301      All external causes  2009    Males   69   6715
302      All external causes  2010    Males   66   6808
303      All external causes  2011    Males   55   6889
304      All external causes  2012    Males   57   7015
305      All external causes  2013    Males   55   7082
306      All external causes  2014    Males   55   7757
307      All external causes  2015    Males   53   7805
308      All external causes  2016    Males   66   7988
309      All external causes  2017    Males   38   7892
310      All external causes  2008  Females   54   4318
311      All external causes  2009  Females   46   4120
312      All external causes  2010  Females   37   4494
313      All external causes  2011  Females   49   4415
314      All external causes  2012  Females   51   4794
315      All external causes  2013  Females   44   4775
316      All external causes  2014  Females   42   5108
317      All external causes  2015  Females   41   5187
318      All external causes  2016  Females   39   5230
319      All external causes  2017  Females   34   5136
320      All external causes  2008  Persons  127  11277
321      All external causes  2009  Persons  115  10835
322      All external causes  2010  Persons  103  11302
323      All external causes  2011  Persons  104  11304
324      All external causes  2012  Persons  108  11809
325      All external causes  2013  Persons   99  11857
326      All external causes  2014  Persons   97  12865
327      All external causes  2015  Persons   94  12992
328      All external causes  2016  Persons  105  13218
329      All external causes  2017  Persons   72  13028

[330 rows x 5 columns]

In [11]:
inj_world = pd.read_csv('ingury_in_world.csv')
inj_world

,Injury Type,World Deaths,World Rate,Australia Deaths,Australia Rate
0,Traffic injuries,21.99,142661,17.04,31630
1,Drowning,19.00,123270,35.31,65533
2,Burns,10.89,70638,3.47,6440
3,Suffocation,10.25,66483,2.76,5114
4,Falls,5.34,34626,14.69,27274
5,Poisoning,3.84,24931,1.84,3409
6,Assault/Homicide,6.62,42937,4.49,8334
7,Other injuries,2.56,16621,25.51,47350
8,All injuries,80.50,522167,105.10,195084
9,Lower CI,61.02,395823,85.92,159476
10,Upper CI,99.99,648630,124.18,230502

In [12]:
inj_world['World Deaths'] = inj_world['World Deaths'].apply(lambda x: round(x))
inj_world['Australia Deaths'] = inj_world['Australia Deaths'].apply(lambda x: round(x))
inj_world

,Injury Type,World Deaths,World Rate,Australia Deaths,Australia Rate
0,Traffic injuries,22,142661,17,31630
1,Drowning,19,123270,35,65533
2,Burns,11,70638,3,6440
3,Suffocation,10,66483,3,5114
4,Falls,5,34626,15,27274
5,Poisoning,4,24931,2,3409
6,Assault/Homicide,7,42937,4,8334
7,Other injuries,3,16621,26,47350
8,All injuries,80,522167,105,195084
9,Lower CI,61,395823,86,159476
10,Upper CI,100,648630,124,230502

In [15]:
inj_years.to_excel('injury_in_years.xlsx')

In [16]:
inj_world.to_excel('injury_in_world.xlsx')